@media (min-width: 700px){
    .header {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        position: relative;
        background: url(../assets/fondo.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

}